button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  cursor: pointer;
  font-size: inherit;
  border: 0;
  border-radius: 50em;
  background: none;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  overflow: hidden;
}

.button-border {
  --outline: 2px solid var(--clr);
  color: var(--clr);
  outline: var(--outline);
  border: var(--outline);
  outline-offset: -2px;
  transition: outline-width 100ms ease, outline-offset 100ms ease;
}

.button-border:hover {
  outline: var(--outline);
  outline-width: 4px;
  outline-offset: -4px;
}
