<div class="row border g-0 p-2">
  <div class="col-lg-3 col-5 my-auto">
    <img src="../../../assets/images/mouse_2.jpg">
  </div>
  <div class="col-lg-5 col-7 my-auto">
    <div style="font-size:13px">Tablet TCL Nxtraper 11, 11 Pol, 128GB, 4GB Ram, Cinza, 9466X4</div>
    <div class="mt-3" style="font-size: 10px; color:beige">
      Preço no cartão em até 12x sem juros: R$ 1.949,40
      SKU: 9466X4
    </div>
  </div>
  <div class="col-lg-2 col-7 offset-lg-0 offset-5 my-lg-auto my-3 justify-content-evenly quantity">
    <icon-button icon="remove"></icon-button>
    <div>1</div>
    <icon-button icon="remove"></icon-button>
    <icon-button icon="remove"></icon-button>
  </div>
  <div class="col-lg-2 col-7 offset-lg-0 offset-5 my-auto text-center">
    <div style="font-size: small">
      1 x R$ 1.424,00
    </div>
    <div style="font-size: small">
      Total: R$ 1.424,00
    </div>
  </div>
</div>
