<div class="row card-item g-0 p-3">
  <div class="col-lg-2 col-5">
    <img src="../../../assets/images/mouse_2.jpg">
  </div>
  <div class="col-lg-5 col-7 my-auto infos-item">
    <div>Tablet TCL Nxtraper 11, 11 Pol, 128GB, 4GB Ram, Cinza, 9466X4</div>
    <div>
      Preço no cartão em até 12x sem juros: R$ 1.949,40
      SKU: 9466X4
    </div>
  </div>
  <div class="col-lg-2 col-7 offset-lg-0 offset-5 my-lg-auto my-3 justify-content-evenly quantity">
    <icon-button icon="remove" (click)="decrementItem()"></icon-button>
    <div>1</div>
    <icon-button icon="add" (click)="incrementItem()"></icon-button>
    <icon-button icon="delete_forever" iconSize="15" (click)="removeItem()"></icon-button>
  </div>
  <div class="col-lg-3 col-7 offset-lg-0 offset-5 my-auto text-end item-price">
    <div style="font-size: 10px">
      1 x R$ 1.424,00
    </div>
    <div style="font-size: 10px;">
      Total: R$ 1.424,00
    </div>
  </div>
</div>
