<div class="row text-white">
  <div class="col-md-8 offset-md-2 col-10 offset-1">
    <div class="row">
      <div class="col-lg-6 col-12 d-flex justify-content-lg-start justify-content-center">
        <img class="img" src="../../../assets/images/mouse_2.jpg" alt="">
      </div>
      <div class="col-lg-5 offset-lg-1 col-12 mt-4 mt-lg-0 p-3 d-flex flex-column product-details">
        <h4>
          {{product.name}}
        </h4>
        <div class="mb-3">
          {{product.description}}
        </div>
        <div class="promo my-1" [ngStyle]="{'visibility': product.promoPrice != 0 ? 'visible' : 'hidden'}">
          de <span>{{product.price | currencyFormat}}</span> por:
        </div>
        <div class="price">
          <div>
            à vista
            {{product.price - product.promoPrice | currencyFormat}}
          </div>
          <div class="text-white">
            ou 12x {{product.price / 12 | currencyFormat}}
          </div>
        </div>
         <div class="d-flex flex-column justify-content-end" style="flex: 2">
          <div class="my-1">
            <custom-button label="Comprar"></custom-button>
          </div>
          <div class="my-1">
            <custom-button label="Adicionar ao carrinho" color="#FFFFFF"></custom-button>
         </div>
         </div>
        </div>
    </div>
  </div>
</div>
