.price {
  color: #39ff11;
  font-size: 1.2em;
  :last-child {
    font-size: 0.7em;
  }
}

.promo {
  color: #F00;
  font-size: 0.7em;
  span {
    text-decoration: line-through;
  }
}

.product-details {
  border: 1px solid white;
  border-radius: 0.5em;
}


@media only screen and (max-width: 620px) {
  .img {
    width: 250px;
    height: 250px;
  }
}

@media only screen and (min-width: 620px) {
  .img {
    width: 400px;
    height: 400px;
  }
}

@media only screen and (min-width: 990px) {
  .img {
    height: 100%;
    width: 100%;
    max-width: 450px;
    max-height: 450px;
  }
}
