<div class="row g-0">
  <div class="col-10 offset-1">
    <div class="d-flex gap-4 justify-content-end align-items-center my-4 mx-3">
      <div class="header" [routerLink]="['/']">
        TechStore
      </div>
      <div class="profile">
      </div>
    </div>
    <div class="row g-0">
      <div class="col-lg-8 col-12">
        <div class="mx-lg-3 mx-0 mb-4 standard-card cart-list">
          <cart-item></cart-item>
          <cart-item></cart-item>
          <cart-item></cart-item>
          <cart-item></cart-item>
          <cart-item></cart-item>
          <cart-item></cart-item>
          <cart-item></cart-item>
          <cart-item></cart-item>
          <cart-item></cart-item>
          <cart-item></cart-item>
          <cart-item></cart-item>
          <cart-item></cart-item>
          <cart-item></cart-item>
          <cart-item></cart-item>
          <cart-item></cart-item>
          <cart-item></cart-item>
          <cart-item></cart-item>
        </div>
      </div>
      <div class="col-lg-4 col-12 h-100 sticky-top">
        <div class="mx-lg-3 mx-0 mb-4 standard-card">
          <shipping></shipping>
        </div>
        <div class="mx-lg-3 mx-0 mb-4 standard-card">
          <cart-overview></cart-overview>
        </div>
      </div>
    </div>
  </div>
</div>
