<div class="row g-0">
  <div class="col-10 offset-1">
    <div class="d-flex justify-content-center">
      TechStore
    </div>
    <div class="row g-0 border border-1">
      <div class="col-lg-8 col-12">
        <cart-item></cart-item>
        <cart-item></cart-item>
        <cart-item></cart-item>
        <cart-item></cart-item>
        <cart-item></cart-item>
        <cart-item></cart-item>
        <cart-item></cart-item>
        <cart-item></cart-item>
        <cart-item></cart-item>
        <cart-item></cart-item>
      </div>
      <div class="col-lg-4 col-12 border-warning border h-100 sticky-top">
        <cart-overview></cart-overview>
      </div>
    </div>
  </div>
</div>
