<div class="row g-0">
  <div class="col-10 offset-1">
    <div class="header my-4">
      TechStore
    </div>
    <div class="row g-0">
      <div class="col-lg-8 col-12">
        <div class="mx-lg-3 mx-0 mb-4 standard-card cart-list">
          <cart-item></cart-item>
          <cart-item></cart-item>
          <cart-item></cart-item>
          <cart-item></cart-item>
          <cart-item></cart-item>
          <cart-item></cart-item>
          <cart-item></cart-item>
          <cart-item></cart-item>
        </div>
      </div>
      <div class="col-lg-4 col-12 h-100 sticky-top">
        <div class="mx-lg-3 mx-0 mb-4 standard-card card-overview">
          <cart-overview></cart-overview>
        </div>
      </div>
    </div>
    <div class="row g-0">
      <div class="col">
        t
      </div>
      <div class="col">
        t
      </div>
    </div>
  </div>
</div>
