<div class="card bg-dark" [routerLink]="['/product-detail', product.id]">
  <img sytle="flex: 7;" src="../../../assets/images/mouse_2.jpg">
  <div class="my-2" style="flex: 1">
    {{product.name}}
  </div>
  <div class="my-1 promo" style="flex: 1">
    <div [ngStyle]="{'visibility': product.promoPrice != 0 ? 'visible' : 'hidden'}">
      de <span>{{product.price | currencyFormat}}</span> por:
    </div>
  </div>
  <div class="price align-content-end" style="flex: 2">
    <div>
      à vista
    </div>
    <div>
      {{product.price - product.promoPrice | currencyFormat}}
    </div>
  </div>
</div>