.standard-card {
  padding: 20px;
  min-height: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin-top: 3px;
  transition: all 100ms ease;
}

.standard-card:hover {
  margin-top: 0px;
  box-shadow: 0 20px 25px 0 rgba(0, 0, 0, 0.514);
}

.price {
  font-size: 1em;
  min-height: 40px;
  :first-child {
    font-size: 0.6em;
  }
  * {
    color: #39ff11;
  }
}

.promo {
  font-size: 0.7em;
  min-height: 20px;
  span {
    text-decoration: line-through;
  }
  * {
    color: #f00;
  }
}
