<div class="w-100 row">
  <div class="col-lg-3 col-sm-6 mt-4" *ngFor="let item of products">
    <div class="card bg-dark text-white h-100">
      <img class="w-100 h-auto" src="../../../assets/images/mouse_2.jpg">
      <div class="my-2">
        {{item.name}}
      </div>
      <div class="promo my-1" [ngStyle]="{'visibility': item.promoPrice != 0 ? 'visible' : 'hidden'}">
        de <span>{{item.price | currencyFormat}}</span> por:
      </div>
      <div class="price">
        <div>
          à vista
        </div>
        {{item.price - item.promoPrice | currencyFormat}}
      </div>
    </div>
  </div>
</div>
