.card {
  padding: 30px;
  margin-top: 3px;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  transition: all 100ms ease;
}

.card:hover {
  margin-top: 0px;
  box-shadow: 0 20px 25px 0 rgba(0, 0, 0, 0.514);
}


.price {
  color: #39ff11;
  font-size: 1em;
  div {
    font-size: 0.6em;
  }
}

.promo {
  color: #F00;
  font-size: 0.7em;
  span {
    text-decoration: line-through;
  }
}
