<div class="background h-100 d-flex align-items-center justify-content-center">
  <form [formGroup]="this.form" (ngSubmit)="tryLogin()">
    <div class="card bg-dark">
      <h1 class="text-white mb-3">Login</h1>
      <custom-input placeholder="Usuário" [control]="form.get('user')!"></custom-input>
      <custom-input placeholder="Senha" [control]="form.get('password')!"></custom-input>
      <div class="forgot-password d-flex align-self-end">Esqueceu sua senha?</div>
      <custom-button label="Entrar" class="mt-3" type="submit" [loading]="loading"></custom-button>
    </div>
  </form>
</div>
